<div class= "header-footer" id="top">
        <img id="logo" src="./assets/IGlogo.png" alt="logo inspectorGuidget"> 
        <p>InspectorGuidget </p> 
        <span>Code Analyser for front-ends</span>
        <button id="homeButton" routerLink="/home" >Home</button>
</div>

<div>
        <app-graph id="graphBox"></app-graph>
</div>

<div class="header-footer" id="bottom">
        <a href="https://github.com/inspectorguidget" target="_blank">Github repository</a> | 
        <a href="" target="_blank">Learn more </a> | 
        <a href="http://maven.inria.fr/artifactory/webapp/#/artifacts/browse/simple/General/malai-public-snapshot/fr/inria/inspectorguidget" target="_blank">Import inspectorguidget</a>
</div>
    
