<!--/*
 * This file is part of InspectorGuidget.
 * InspectorGuidget is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * InspectorGuidget is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with InspectorGuidget.  If not, see <https://www.gnu.org/licenses/>.
 */-->
 
 <h3>Welcome to inspectorguidget-viz!</h3>

<div class="uploadfilecontainer" (click)="fileInput()" appDragDrop (onFileDropped)="uploadFile($event)" *ngIf="files.length < 1">
    Drop your file here 
    <!--do not work with electron, close the app
    or click to select manually
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    -->
</div>

<div  class="files-list" *ngFor="let file of files;let i=index">
    <p>{{ file.name }}</p>
    <button class="delete-file" (click)="deleteAttachment(i)">
        <img src="../../assets/Recycle_Bin_Full.ico">
    </button>
</div>

<br>

<!--deux boutons, un non cliquable qui apprait tant qu'aucun fichier n'a été chargé, un cliquable qui lance la visualisation-->
<div>
    <button id="viz" disabled="disabled" *ngIf="files.length == 0">Viz</button> 
    <button id="viz" (click)="startVis(files[0])" *ngIf="files.length == 1">Viz</button>
</div>
