/*
 * This file is part of InspectorGuidget.
 * InspectorGuidget is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * InspectorGuidget is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with InspectorGuidget.  If not, see <https://www.gnu.org/licenses/>.
 */
 
 #rightBlock{
    position: fixed;
    right:0;
    top: 10%;
    width: 20%;
    height: 80%;
    background-color: #ECEDED;
    overflow-y: auto;
    word-wrap: break-word;
}

#rightBlock h3{
    text-align: center;
}

#rightBlock #closeButton{

    display:block;
    margin:auto;
    width: 20%;
    border-radius:12px;
    border: 2px solid #8B9599;
    color: black;
    font-size:18px;
}

#rightBlock #closeButton:hover{
    background-color: #8B9599;
}

#rightBlock p{
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
}